
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
</head>
<body>
    <div> 
        <form action="Update_Password" method="post">
            Old Password:<input id="Text1" type="text" name="oldPassword" />
            <br />
            New Password:<input id="Text1" type="text" name="newPassword"/>
            <br/>
            ReEnter Password: <input id="Text1" type="text" name="varifynewPassword"/>
            <br/>
            <input id="Submit1" type="submit" value="Update" />

        </form>
    </div>
</body>
</html>
