
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>

        <form action="Delete_Account" method="post">
            Enter your password to complete deleting your account:
            <br />
            <input id="Text1" type="text" placeholder="Enter password" name="VarifiyPassword" /> <span style="color:red"> @TempData["CheckPass"] </span>
            <br />
            <input id="Submit1" type="submit" value="Delete" />
            <br />
        </form>

    </div>

</body>
</html>
