
@using WebApplication2.Models;
@model WebApplication2.Models.User
@*@{
        if (Session["username"] != null)
        {
            return;
        }
    }*@
@{
    ViewBag.Title = "User";
}

@*<style>
        body {
            background-image: url("/img/black.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div class="container">
        <h2>Log In</h2>
        <div>


            @using (Html.BeginForm("Login", "User", FormMethod.Post))
            {

                <i>Username:</i> @Html.TextBoxFor(m => m.UserName) @Html.ValidationMessageFor(X => X.UserName)
                <br />
                <i>password:</i> @Html.PasswordFor(m => m.Password) @Html.ValidationMessageFor(X => X.Password)
                <br />
                <input id="Submit1" type="submit" value="sign in" />
                <br />

            }
        </div>



</body>
</html>

