
@{
    ViewBag.Title = "Manage";
}

<h2>Manage Projects</h2>
@Html.ActionLink("Create Project", "Enter", "Project")
<h2>I am admin Projects</h2>@Html.ActionLink("View my Project", "imanagerp", "Project")


<h2>I am a member in a Projects</h2>