
@{
    ViewBag.Title = "Manage";
}




<html>
<head>
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Raleway", sans-serif
        }

        body {
            background-image: url('../../img/black.jpg'); /* The image used */
            background-color: #cccccc; /* Used if the image is unavailable */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: 2000px; /* Resize the background image to cover the entire container */
        }

        h2{
            color:white;
        }

        /* Full height image header */
        .bgimg-1 {
            background-position: center;
            background-size: cover;
            background-image: url("");
            min-height: 100%;
        }

        .w3-bar .w3-button {
            padding: 16px;
        }

        .w3-container {
            padding: 128px 16px;
            color: white;
            font-family: Tahoma;
        }
    </style>
</head>
<body>
    <h2>New Project</h2>
    @Html.ActionLink("Create Project", "Enter", "Project")

    <h2>My Projects</h2>
    @Html.ActionLink("View my Project", "imanagerp", "Project")


    <h2>Participated in Projects</h2>
    @Html.ActionLink("Create Project", "Enter", "Project")

    <h2>Requests</h2>
    @Html.ActionLink("Requests", "Requests", "Project")

</body>
</html>