
@model  WebApplication2.ViewModels.ProjectMemberVM
@using WebApplication2.Models

@{
    ViewBag.Title = "ProjectMembers";
}

<h2>ProjectMembers</h2>




<h2 style="color:snow">Partipicated Projects</h2>
<br />

<br />


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            background-image: url('../../img/black.jpg');
            background-size: cover;
        }


        .header {
            padding: 30px;
            text-align: center;
            color: #5a3a11;
            font-size: 40px;
        }


        .content {
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <table class="table">
            <thead>
                <tr style="color:sandybrown">
                    <th>Project ID</th>
                    <th>Project Name</th>
                    <th>Project Manager </th>
                    <th>Permission</th>
                    <th>Project Files</th>


                </tr>
            </thead>
            <tbody>
                @foreach (PrivateProjects B in Model.projectMember)
                {
                <tr style="color:white">
                    <td>|@B.ProjectId</td>
                    <td>|@Model.getProject(B.ProjectId).ProjectName</td>
                    <td>|@Model.getProject(B.ProjectId).UserName </td>
                    @{ if (B.IsPrivate == false)
                        {
                            <td>|On</td>

                        }
                        else
                        {
                            <td>|Off</td>

                        }
                    }

                    @{
                        if (B.IsPrivate == false)
                        {

                            string path = Server.MapPath("~/Uploads/" + B.ProjectId.ToString() + "/");
                            if (!Directory.Exists(path))
                            {
                                <td>|@Html.ActionLink("Create", "StartCreating", "MangeProject", new { projectid = B.ProjectId }, null) </td>

                            }

                            else
                            {
                                <td>
                                    |@Html.ActionLink("Upload", "UploadPage", "MangeProject", new { projectid = B.ProjectId }, null)
                                    |@Html.ActionLink("Download", "DownloadAction", "MangeProject", new { projectid = B.ProjectId }, null)
                                </td>


                            }

                        }
                        else
                        {
                            <td>No Access to Files</td>
                        }
                    }
                </tr>

                }
            </tbody>
        </table>
    </div>
</body>
</html>




