@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript">
        window.onload = function () {
            document.getElementById("audio_mp3").play();
        }
    </script>

    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Raleway", sans-serif
        }

        body {
            background-image: url("../img/black.jpg"); /* The image used */
            background-color: #cccccc; /* Used if the image is unavailable */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: cover; /* Resize the background image to cover the entire container */
        }

        /* Full height image header */
        .bgimg-1 {
            background-position: center;
            background-size: cover;
            background-image: url("../img/2277.jpg");
            min-height: 100%;
        }

        .w3-bar .w3-button {
            padding: 16px;
        }

        .cool {
            font-family: times, Times New Roman, times-roman, georgia, serif;
            font-size: 20px;
            line-height: 20px;
            text-transform: uppercase;
            color: #444;
        }

        .w3-container {
            padding: 128px 16px;
            color: white;
            font-family: Tahoma;
        }
    </style>
</head>
<body>


    <audio id="audio_mp3" src="~/Audio/Way.mp3" loop="loop"></audio>
    <div class="w3-container" id="team">
        <h1 class="w3-center">
            Project Characterization And Initiation For Developers
        </h1>
        <p class="w3-center w3-large">Start Something That Matters</p>


    </div>



    <div class="w3-container w3-light-gray" style="padding:128px 16px" id="contact" color="white">
        <h1 class="w3-center">About</h1>
        <p class="w3-center w3-large"><h2 align="center">No More Paper Work Headach To Start Your Project!</h2></p>
        <div style="margin-top:48px">
            <div class="cool" align="center">
                <br /><br />
                Thinking To Start Creating a website or maybe an app ?<br /><br /> if so you'r in the right place.<br /><br />
                regester and finish ur paper work in no time<br /><br /> this site will help you characterzate and initiate your project faster and easier.<br /><br />
                and we are here to help if needed<br /><br /> sign up now and start building your site and Goodluck our team wish u the best.
            </div>
            <!-- Image of location/map -->
            <!--<img src="/w3images/map.jpg" class="w3-image w3-greyscale" style="width:100%;margin-top:48px">-->
        </div>
    </div>



    <script>
        // Modal Image Gallery
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }


        // Toggle between showing and hiding the sidebar when clicking the menu icon
        var mySidebar = document.getElementById("mySidebar");

        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
            } else {
                mySidebar.style.display = 'block';
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
        }
    </script>

</body>
</html>