
@{
    ViewBag.Title = "Thanks";
}


///


<html>
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Raleway", sans-serif
    }

    body {
        background-image: url("../img/black.jpg"); /* The image used */
        background-color: #cccccc; /* Used if the image is unavailable */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: 2000px; /* Resize the background image to cover the entire container */
    }

    /* Full height image header */
    .bgimg-1 {
        background-position: center;
        background-size: cover;
        background-image: url("");
        min-height: 100%;
    }

    .w3-bar .w3-button {
        padding: 16px;
    }

    .w3-container {
        padding: 128px 16px;
        color: white;
        font-family: Tahoma;
    }
</style>
<haeder>
    <title>
        Privacy Policy
    </title>
</haeder>
<body>

    <div class="w3-container" id="team">
        <h2 class="w3-center">
            Thank You For Contacting Us 
        </h2>
        <p class="w3-center w3-large">Support Team</p>

    </div>

</body>
</html>
