@model WebApplication2.Models.User

@{
    ViewBag.Title = "User";
}

<h2>User</h2>

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    @Model.UserName;
    @Model.Email;
    @Model.Password;
</body>
</html>