
@{
    ViewBag.Title = "firstPart";
}

<h2 style="color:blanchedalmond">FIRST PART</h2>
<h2 style="color:blanchedalmond">fill the sections</h2>

<!DOCTYPE html>
<html>
<head>
    <style>
        h2 {
            font-family: "Raleway", sans-serif;
            text-align: center;
        }

        hr {
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 0.5px;
        }

        body {
            background-image: url("../img/black.jpg"); /* The image used */
            background-color: #cccccc; /* Used if the image is unavailable */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: cover; /* Resize the background image to cover the entire container */
        }
        /* The container */
        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            /* Hide the browser's default radio button */
            .container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

        /* Create a custom radio button */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
            border-radius: 50%;
        }

        /* On mouse-over, add a grey background color */
        .container:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the radio button is checked, add a blue background */
        .container input:checked ~ .checkmark {
            background-color: #2196F3;
        }

        /* Create the indicator (the dot/circle - hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the indicator (dot/circle) when checked */
        .container input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the indicator (dot/circle) */
        .container .checkmark:after {
            top: 9px;
            left: 9px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
        }
    </style>
</head>
<body>
    <br />
    <br />
    <form action="Next" method="post">
        <div align="center" style="max-width:100%">

            <h2 style="color:snow ; align-content:flex-start">לקוח\מומחה יישום</h2>
            <label class="container" style="color:gold">
                לקוח \ משתמש עיקרי
                <br />
                מומחה(י) היישום
                <br />
                צוותי משתמשים
            </label>
            <br />
            <label class="container">
                <textarea rows="6" cols="500" style="max-width:70%" name=i1>Text Here</textarea>
            </label>
            <br />
            <br />


            <h2 style="color:snow ; align-content:flex-start">יעדים ומטרות</h2>
            <label class="container" style="color:gold">
                יעדים כלליים
                <br />
                מטרות מעשיות
                <br />
                מטרות עתידיות
            </label>
            <br />
            <label class="container">
                <textarea rows="6" cols="500" style="max-width:70%" name=i2>Text Here</textarea>
            </label>
            <br />
            <br />


            <h2 style="color:snow ; align-content:flex-start">בעיות</h2>
            <label class="container" style="color:gold">
                תמצית הבעיות במצב הקיים
                <br />
                בעיות שהמערכת פותרת/אמורה לפתור
                <br />
                בעיות שהמערכת יוצרת/עשויה ליצור
                <br />
                בעיות שיידחו
            </label>
            <br />
            <label class="container">
                <textarea rows="6" cols="500" style="max-width:70%" name=i3>Text Here</textarea>
            </label>
            <br />
            <br />


            <h2 style="color:snow ; align-content:flex-start">מאפיינים כלליים</h2>
            <label class="container" style="color:gold">
                מצב קיים
                <br />
                אופי המערכת וסוגה
                <br />
                אילוצים
                <br />
                מילון מונחים
            </label>
            <br />
            <label class="container">
                <textarea rows="6" cols="500" style="max-width:70%" name=i4>Text Here</textarea>
            </label>
            <br />
            <br />


            <h2 style="color:snow ; align-content:flex-start">תיחום פנימי</h2>
            <label class="container" style="color:gold">
                תיאור כללי של המערכת
                <br />
                תתי-מערכת
            </label>
            <br />
            <label class="container">
                <textarea rows="6" cols="500" style="max-width:70%" name=i5>Text Here</textarea>
            </label>
            <br />
            <br />


            <h2 style="color:snow ; align-content:flex-start">תהליכים</h2>
            <label class="container" style="color:gold">
                שמות תהליכים
                <br />
                שמות תתי תהליכים
            </label>
            <br />
            <label class="container">
                <textarea rows="6" cols="500" style="max-width:70%" name=i6>Text Here</textarea>
            </label>
            <br />
            <br />


            <h2 style="color:snow ; align-content:flex-start">(מודולים (תכניות</h2>
            <label class="container" style="color:gold">
                תכניות מקור – SOURCE MODULES
                <br />
                תכניות ביצוע – EXECUTABLE MODULES
            </label>
            <br />
            <label class="container">
                <textarea rows="6" cols="500" style="max-width:70%" name=i7>Text Here</textarea>
            </label>
            <br />
            <br />


            <h2 style="color:snow ; align-content:flex-start">(מהלכים (פרוצדורות בקרה</h2>
            <br />
            <label class="container">
                <textarea rows="6" cols="500" style="max-width:70%" name=i8>Text Here</textarea>
            </label>
            <br />
            <br />


            <h2 style="color:snow ; align-content:flex-start">
                מערכת הפעלה
                <br />
                בסיס הנתונים – DBMS
                <br />
                כלי פיתוח ותחזוקה
            </h2>
            <br />
            <label class="container">
                <textarea rows="6" cols="500" style="max-width:70%" name=i9>Text Here</textarea>
            </label>
            <br />
            <br />


            <h2 style="color:snow ; align-content:flex-start">תוכנות מדף</h2>
            <label class="container" style="color:gold">
                תוכנות שירות
                <br />
                תוכנות יישום
            </label>
            <br />
            <label class="container">
                <textarea rows="6" cols="500" style="max-width:70%" name=i10>Text Here</textarea>
            </label>
            <br />
            <br />
            <br />


            <h2 style="color:snow ; align-content:flex-start">כלי תפעול וייצור </h2>
            <label class="container" style="color:gold">
                כלים למפעיל ואחראי ייצור
                <br />
                כלי שליטה ובקרה למנהל המערכת
            </label>
            <br />
            <label class="container">
                <textarea rows="6" cols="500" style="max-width:70%" name=i11>Text Here</textarea>
            </label>
            <br />
            <br />


            <h2 style="color:snow ; align-content:flex-start">תקשורת </h2>
            <label class="container" style="color:gold">
                תקשורת פרטית מקומית
                <br />
                תקשורת פרטית רחבה
                <br />
                רשת ציבורית
            </label>
            <br />
            <label class="container">
                <textarea rows="6" cols="500" style="max-width:70%" name=i12>Text Here</textarea>
            </label>
            <br />
            <br />


            <h2 style="color:snow ; align-content:flex-start">(נקודות פתוחות (וחלופות</h2>
            <br />
            <label class="container">
                <textarea rows="6" cols="500" style="max-width:70%" name=i13>Text Here</textarea>
            </label>
            <br />
            <br />


            <h2 style="color:snow ; align-content:flex-start">גורמים מעורבים </h2>
            <label class="container" style="color:gold">
                ניהול
                <br />
                צוותים מקצועיים – צוותי הפיתוח
                <br />
                סיוע טכני
                <br />
                ספקים וגורמי חוץ
            </label>
            <br />
            <label class="container">
                <textarea rows="6" cols="500" style="max-width:70%" name=i14>Text Here</textarea>
            </label>
            <br />
            <br />


            <h2 style="color:snow ; align-content:flex-start">תכנית עבודה </h2>
            <label class="container" style="color:gold">
                שיטת הפיתוח
                <br />
                תכנית פיתוח כללית
                <br />
                תכנית פרטנית
            </label>
            <br />
            <label class="container">
                <textarea rows="6" cols="500" style="max-width:70%" name=i15>Text Here</textarea>
            </label>
            <br />
            <br />


            <h2 style="color:snow ; align-content:flex-start">שירות ותחזוקה </h2>
            <label class="container" style="color:gold">
                מרכז תמיכה – HELPDESK (CALL CENTER)
                <br />
                תחזוקת היישום
                <br />
                תחזוקת תשתית וטכנולוגיה
                <br />
                מימוש שוטף
                <br />
                עלויות שוטפות
            </label>
            <br />
            <label class="container">
                <textarea rows="6" cols="500" style="max-width:70%" name=i16>Text Here</textarea>
            </label>
            <br />
            <br />


            <h2 style="color:snow ; align-content:flex-start">השתלבות בארגון – הנעת המערכת </h2>
            <label class="container" style="color:gold">
                הטמעת המערכת
                <br />
                (הסבות (הגירה
                <br />
                או"ש
                <br />
                מדריך למשתמש
            </label>
            <br />
            <label class="container">
                <textarea rows="6" cols="500" style="max-width:70%" name=i17>Text Here</textarea>
            </label>
            <br />
            <br />


            <h2 style="color:snow ; align-content:flex-start">חוסן ואמינות</h2>
            <label class="container" style="color:gold">
                תכנית בדיקה
                <br />
                זמינות ושרידות
            </label>
            <br />
            <label class="container">
                <textarea rows="6" cols="500" style="max-width:70%" name=i18>Text Here</textarea>
            </label>
            <br />
            <br />


            <button id="submit2" class="w3-button w3-block w3-teal" style="width:50% ; background-color:white ; color:black " type="submit">Next</button>
        </div>
    </form>


</body>
</html>

