
@{
    ViewBag.Title = "StratCreating";
}

<h1 style="text-align:center">Strat Creating  </h1>  
   
<!DOCTYPE html>
<html>
<head>
    <style>
        h2{
            font-family: "Raleway", sans-serif;
                text-align:center;
        }
        hr {
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 0.5px;
        } 

        body {
            background-image: url("../img/bw.png"); /* The image used */
            background-color: #cccccc; /* Used if the image is unavailable */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: cover; /* Resize the background image to cover the entire container */
        }
        /* The container */
        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            /* Hide the browser's default radio button */
            .container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

        /* Create a custom radio button */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
            border-radius: 50%;
        }

        /* On mouse-over, add a grey background color */
        .container:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the radio button is checked, add a blue background */
        .container input:checked ~ .checkmark {
            background-color: #2196F3;
        }

        /* Create the indicator (the dot/circle - hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the indicator (dot/circle) when checked */
        .container input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the indicator (dot/circle) */
        .container .checkmark:after {
            top: 9px;
            left: 9px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
        }
    </style>
</head>
<body>


    <h2>Select "No" for every section you dont need to include in you'r project.</h2>
    @using (Html.BeginForm("CheckRadio", "MangeProject", FormMethod.Post))
    {
        <br />
        <h1> הקשר ארגוני \ עסקי</h1>
        <h3>יעדי הארגון, אסטרטגיה</h3>

        <label class="container">

            Yes
            <input type="radio" checked="checked" name="g1" value="Yes">
            <span class="checkmark"></span>

        </label>

        <label class="container">

            No
            <input type="radio" name="g1" value="No">
            <span class="checkmark"></span>

        </label>

        <h3>תרשים ומבנה ארגוני</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g2" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g2" value="No">
            <span class="checkmark"></span>
        </label>
        <h3>השלכות או"ש</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g3" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g3" value="No">
            <span class="checkmark"></span>
        </label>

        <br /> <hr />
        <h1> תכנית עבודה שנתית</h1>
        <h3>אישור (סימוכין) תקציבי / עסקי // האם הפרויקט עסקי</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g4" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g4" value="No">
            <span class="checkmark"></span>
        </label>

        <h3>תלות במערכות אחרות</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g5" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g5" value="No">
            <span class="checkmark"></span>
        </label>


        <br /> <hr />
        <h1> ישימות ועלות/תועלת</h1>
        <h3>סיכונים - ישימות הפרויקט // האם הפרויקט עסקי</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g6" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g6" value="No">
            <span class="checkmark"></span>
        </label>

        <h3>עלות/תועלת – ישימות עסקית</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g7" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g7" value="No">
            <span class="checkmark"></span>
        </label>


        <br /> <hr />
        <h1> אופק הזמן</h1>
        <h3>תוצרים</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g8" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g8" value="No">
            <span class="checkmark"></span>
        </label>

        <h3>מועד נטישה</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g9" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g9" value="No">
            <span class="checkmark"></span>
        </label>

        <h3>משך חיי המערכת</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g10" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g10" value="No">
            <span class="checkmark"></span>
        </label>


        <br /> <hr />
        <h1>(שגרות (אובייקטים משותפים</h1>
        <h3>שגרות מקומיות</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g11" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g11" value="No">
            <span class="checkmark"></span>
        </label>

        <h3>שגרות ארגון</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g12" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g12" value="No">
            <span class="checkmark"></span>
        </label>

        <h3>שגרות צד שלישי</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g13" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g13" value="No">
            <span class="checkmark"></span>
        </label>


        <br /> <hr />
        <h1>טבלאות קודים</h1>
        <h3>טבלאות מקומיות</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g14" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g14" value="No">
            <span class="checkmark"></span>
        </label>

        <h3>טבלאות ארגון</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g15" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g15" value="No">
            <span class="checkmark"></span>
        </label>

        <h3>טבלאות חיצוניות</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g16" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g16" value="No">
            <span class="checkmark"></span>
        </label>


        <br /> <hr />
        <h1>קבצים לוגיים</h1>
        <h3>כללי – מודל הנתונים</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g17" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g17" value="No">
            <span class="checkmark"></span>
        </label>

        <h3>קבצים לוגיים</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g18" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g18" value="No">
            <span class="checkmark"></span>
        </label>


        <br /> <hr />
        <h1>(מילון פריטי-מידע (שדות</h1>
        <h3>שדות מקומיים</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g19" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g19" value="No">
            <span class="checkmark"></span>
        </label>

        <h3>שדות ארגוניים</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g20" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g20" value="No">
            <span class="checkmark"></span>
        </label>

        <h3>שדות גלובליים</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g21" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g21" value="No">
            <span class="checkmark"></span>
        </label>


        <br /> <hr />
        <h1>דו"חות </h1>
        <h3>קבוצת דו"חות</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g22" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g22" value="No">
            <span class="checkmark"></span>
        </label>


        <br /> <hr />
        <h1>הצלבות וחיתוכים</h1>
        <h3>הצלבות וחיתוכים</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g23" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g23" value="No">
            <span class="checkmark"></span>
        </label>


        <br /> <hr />
        <h1>נפחים עומסים וביצועים </h1>
        <h3>נפחים עומסים וביצועים</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g24" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g24" value="No">
            <span class="checkmark"></span>
        </label>

        <br /> <hr />
        <h1>ממשקים וקישורים </h1>
        <h3>אינדקס ורשימה כללית</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g25" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g25" value="No">
            <span class="checkmark"></span>
        </label>

        <h3>ממשקים</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g26" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g26" value="No">
            <span class="checkmark"></span>
        </label>


        <br /> <hr />
        <h1>דרישות</h1>
        <h3>דרישות מיוחדות </h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g27" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g27" value="No">
            <span class="checkmark"></span>
        </label>

        <h3>(נקודות פתוחות (וחלופות</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g28" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g28" value="No">
            <span class="checkmark"></span>
        </label>

        <h3>דרישות עתידיות</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g29" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g29" value="No">
            <span class="checkmark"></span>
        </label>


        <br /> <hr />
        <h1>ציוד</h1>
        <h3>ציוד קצה  </h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g30" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g30" value="No">
            <span class="checkmark"></span>
        </label>

        <h3>ציוד מיוחד</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g31" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g31" value="No">
            <span class="checkmark"></span>
        </label>

        <h3>ציוד מתכלה </h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g32" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g32" value="No">
            <span class="checkmark"></span>
        </label>


        <br /> <hr />
        <h1>תשתית סביבתית</h1>
        <h3>אתר ראשי  </h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g33" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g33" value="No">
            <span class="checkmark"></span>
        </label>

        <h3>אתר גיבוי</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g34" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g34" value="No">
            <span class="checkmark"></span>
        </label>

        <h3>דרישות בטיחות (SAFETY)</h3>
        <label class="container">
            Yes
            <input type="radio" checked="checked" name="g35" value="Yes">
            <span class="checkmark"></span>
        </label>
        <label class="container">
            No
            <input type="radio" name="g35" value="No">
            <span class="checkmark"></span>
        </label>
        <br />
        <button class="w3-button w3-block w3-teal" style="width:50% ; background-color:black ; color:white " type="submit">Confirm</button>
      }
    
    

</body>
</html>
