
@{
    ViewBag.Title = "StratCreating";
}

<h2>StratCreating</h2>

<!DOCTYPE html>
<html>
<head>
    <style>
        input[type=text] {
            width: 2000px;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 2px solid red;
            border-radius: 4px;
        }
    </style>
</head>
<body>

    <p>Text fields with borders:</p>

    <form>
        <br />
        <label for="fname">req 1</label>
        <br />
        <input type="text" id="r1" name="r1">
        <br />
        <label for="lname">req 2</label>
        <br />

        <input type="text" id="r2" name="r2">
        <br />


        <label for="fname">req 3</label>
        <br />

        <input type="text" id="r3" name="r3">
        <br />

        <label for="lname">req 4</label>
        <br />

        <input type="text" id="r4" name="r4">

        <br />
        <label for="fname">req 5</label>

        <br />
        <input type="text" id="r5" name="r5">
        <br />
        <label for="lname">req 6</label>
        <br />
        <input type="text" id="r6" name="r6">
        <br />
        <label for="fname">req 7</label>
        <br />
        <input type="text" id="r7" name="r7">
        <br />
        <label for="lname">req 8</label>
        <br />
        <input type="text" id="r8" name="r8">
        <br />
        <label for="fname">req 9</label>
        <br />
        <input type="text" id="r9" name="r9">
        <br />
        <label for="lname">req 10</label>
        <br />
        <input type="text" id="r10" name="r10">
        <br />
        <button type="submit" class="btn">Submit</button>
    </form>

</body>
</html>
